In [1]:
import pandas as pd
import numpy as np

In [22]:
#Create empty dataframe
data = pd.DataFrame()
#Create our target} variable
data['Gender']=['male','male','male','male','female','female','female','female']

#Create our feature variables
data['Height(cm)']=[176,180,179,172,156,160,165,168]
data['Weight(kg)']=[81,72,78,79,56,55,54,58]
data['Foot_Size']=[12,11,12,10,6,8,7,9]

#View the data
data

   Gender  Height(cm)  Weight(kg)  Foot_Size
0    male         176          81         12
1    male         180          72         11
2    male         179          78         12
3    male         172          79         10
4  female         156          56          6
5  female         160          55          8
6  female         165          54          7
7  female         168          58          9

In [3]:
#Create an empty dataframe
person =pd.DataFrame()

#Create some feature values for this single row
person['Height'] = [158]
person['Weight'] = [67]
person['Foot_Size'] = [7]

#View the data
person

   Height  Weight  Foot_Size
0     158      67          7

In [4]:
# Number of males
n_male = data['Gender'][data['Gender'] == 'male'].count()

# Number of males
n_female = data['Gender'][data['Gender'] == 'female'].count()

#Total rows
total_ppl = data['Gender'].count()

In [5]:
# Number of males divided by the total rows
P_male = n_male/total_ppl

# Number of females divided by the total rows
P_female = n_female/total_ppl

In [6]:
# Group the data by gender and calculate the means of each feature
data_means = data.groupby('Gender').mean()

# View the values
data_means

        Height  Weight  Foot_Size
Gender
female  162.25   55.75       7.50
male    176.75   77.50      11.25

In [7]:
# Group the data by gender and calculate the variance of each feature
data_variance = data.groupby('Gender').var()

# View the values
data_variance

           Height     Weight  Foot_Size
Gender
female  28.250000   2.916667   1.666667
male    12.916667  15.000000   0.916667

In [8]:
# Means for male
male_height_mean = data_means['Height'][data_means.index == 'male'].values[0]
male_weight_mean = data_means['Weight'][data_means.index == 'male'].values[0]
male_footsize_mean = data_means['Foot_Size'][data_means.index == 'male'].values[0]

# Variance for male
male_height_variance = data_variance['Height'][data_variance.index == 'male'].values[0]
male_weight_variance = data_variance['Weight'][data_variance.index == 'male'].values[0]
male_footsize_variance = data_variance['Foot_Size'][data_variance.index == 'male'].values[0]

#Means for female
female_height_mean = data_means['Height'][data_means.index == 'female'].values[0]
female_weight_mean = data_means['Weight'][data_means.index == 'female'].values[0]
female_footsize_mean = data_means['Foot_Size'][data_means.index == 'female'].values[0]

# Variance for female
female_height_variance = data_variance['Height'][data_variance.index == 'female'].values[0]
female_weight_variance = data_variance['Weight'][data_variance.index == 'female'].values[0]
female_footsize_variance = data_variance['Foot_Size'][data_variance.index == 'female'].values[0]

In [9]:
# Create a function that calculates p(x|y):
def p_x_given_y(x,mean_y,variance_y):
    
    # Input the arguments into a probability density function
    p = 1/(np.sqrt(2*np.pi*variance_y))* np.exp((-(x-mean_y)**2)/(2*variance_y))
    
    # return p
    return p

In [10]:
# Numerator of the posterior if the unclassified observation is a male
posterior_male = P_male* \
p_x_given_y(person['Height'][0], male_height_mean, male_height_variance)* \
p_x_given_y(person['Weight'][0], male_weight_mean, male_weight_variance)* \
p_x_given_y(person['Foot_Size'][0], male_footsize_mean, male_footsize_variance)

In [11]:
# Numerator of the posterior if the unclassified observation is a female
posterior_female = P_female* \
p_x_given_y(person['Height'][0], female_height_mean, female_height_variance)* \
p_x_given_y(person['Weight'][0], female_weight_mean, female_weight_variance)* \
p_x_given_y(person['Foot_Size'][0], female_footsize_mean, female_footsize_variance)

In [12]:
# Normalize the value
P_posterior_male = posterior_male / (posterior_male + posterior_female)
P_posterior_female = posterior_female / (posterior_male + posterior_female)

In [21]:
print('The posterior probability of Male is' , round(P_posterior_male*100,2),"%")
print('The posterior probability of Female is' , round(P_posterior_female*100,2),"%")

The posterior probability of Male is 0.56 %
The posterior probability of Female is 99.44 %